<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull">权限列表<small>power list</small></h3>
<nav class="navbar navbar-default navbar-fixed-top text-left" role="navigation" style=" padding-left:12px; padding-top:10px;">
 
   <table class="table" style="margin-top:9px;">
       <tr>
    	<th align="left" width="5%">#</th>
        <th align="left" width="15%">模块/描述</th>
    	<th align="left" width="10%">一级审核权限</th>
    	<th align="left" width="10%">二级审核权限</th>
        <th align="left" width="10%">添加</th>
        <th align="left" width="10%">修改</th>
        <th align="left" width="10%">删除</th>
        <th align="left" width="10%">查看</th>
        <th align="left" width="10%">可查看他人</th>
        <th align="left" width="10%">操作</th>	  	
      </tr>
    </table>
  </nav>
<table class="table table-hover  table-striped">
	<tr >
    	<th  width="5%">#</th>
        <th  width="15%">模块/描述</th>
    	<th width="10%">一级审核权限</th>
    	<th width="10%">二级审核权限</th>
        <th width="10%">添加</th>
        <th width="10%">修改</th>
        <th width="10%">删除</th>
        <th width="10%">查看</th>
        <th width="10%">可查看他人</th>
        <th width="10%">操作</th>	  
    </tr>
    <volist id="list" name="list" key="k">
    <tr>
    	<td>{$k}</td>
        <td>{$list[module]}<br>({$list[title]})</td>
        <td>{$list[audit_1]}</td>
    	<td>{$list[audit_2]}</td>
    	<td>{$list[add_]}</td>
    	<td>{$list[update_]}</td>
    	<td>{$list[delete_]}</td>
    	<td>{$list[show_]}</td>
    	<td>{$list[index_show]}</td>
    	<td><a href="{:U("updata?id=$list[id]")}"  data-toggle="tooltip" data-placement="left" title="修改" ><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U("delete?id=$list[id]")}" {$confirm}  data-toggle="tooltip" data-placement="left"  title="删除"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    </volist>
    
</table>

</div>
<br>
<br>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>


</body>
</html>
