<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">

<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>
<form action="#" method="post" class="form-horizontal" id="formid" >
<br>
<div class="container" style="width:100%;">
<h4 class="bor-left-bull" >请假详细信息</h4>
<hr>
<div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">部门</label>
    <div class="col-sm-2">
     	<label  class="control-label"><strong>{$info[bumen]}</strong></label>

    </div>
    
    <label for="contract_money" class="col-sm-1 control-label">职务</label>
    <div class="col-sm-2">
     	<label  class="control-label"><strong>{$info[zhiwu]}</strong></label>
    </div>
    
      	<label for="inputEmail3" class="col-sm-1 control-label">请假类型</label>
    <div class="col-sm-2">
     	<label  class="control-label"><strong>{$info[type]}</strong></label>
    </div>
  
  </div>
  <div class="form-group">


    
    </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">请假时间</label>
    <div class="col-sm-5">
     	<label  class="control-label"><strong>{$info[starttime]|date="Y-m-d",###}</strong></label>到
     	<label  class="control-label"><strong>{$info[endtime]|date="Y-m-d",###}</strong></label>
    </div>
    
	    <label for="inputEmail3" class="col-sm-1 control-label">天数</label>
    <div class="col-sm-3">
     	<label  class="control-label"><strong>{$info[day]}</strong></label>
    </div>
    
  </div>

 
  <h4 class="bor-left-bull" >请假事由</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
     	<label  class="control-label"><strong>{$info[shiyou]}</strong></label>
   </div>

   </div>
<br>
<br>


	<h4 class="bor-left-bull" >审核状态</h4>
 	 <hr>
	 <div class="form-group">
    <div class="col-sm-12">
       <if condition="$info[audit_1] eq 0">
       		<span class="shno">一级审核未审核</span>
        	<elseif condition="$info[audit_1] eq 1"/>
             <span class="shyes">一级审核已审核(审核人：{$users_info3?$users_info3:'默认'})</span>
            <elseif condition="$info[audit_1] eq 2"/>
            <span class="shno1">一级审核未通过(审核人：{$users_info3?$users_info3:'默认'})</span>
       </if>
       &nbsp;&nbsp;&nbsp;
       <if condition="$info[audit_2] eq 0">
       		<span class="shno">二级审核未审核</span>
            <elseif condition="$info[audit_2] eq 1"/>
            <span class="shyes">二级审核已审核(审核人：{$users_info4?$users_info4:'默认'})</span>
            <elseif condition="$info[audit_2] eq 2"/>
            <span class="shno1">二级审核未通过(审核人：{$users_info4?$users_info4:'默认'})</span>
       </if>       
       </div>
    </div>
    <div class="form-group">
    
       <div class="col-sm-12">
        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1)">返回</button>
       	<if condition="($info[audit_1] neq 2) and ($info[audit_2] neq 2)">
        &nbsp;&nbsp;
    	<a href="{:U("shenhe?type=audit_1&id=$info[id]")}" class="btn btn-primary"  {$info[audit_1]!='0'?'style="display:none"':''} >一级审核通过</a>
    	<a href="{:U("shenhe?type=audit_1&id=$info[id]&ju=1")}" class="btn btn-danger"  {$info[audit_1]!='0'?'style="display:none"':''} >一级审核不通过</a>
        &nbsp;&nbsp;
        <a href="{:U("shenhe?type=audit_2&id=$info[id]")}" class="btn btn-primary"  {$info[audit_2]!='0'?'style="display:none"':''}>二级审核通过</a>
      	<a href="{:U("shenhe?type=audit_2&id=$info[id]&ju=1")}" class="btn btn-danger"  {$info[audit_2]!='0'?'style="display:none"':''} >二级审核不通过</a>
        </if>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
