<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script language="javascript">
	$(document).ready(function(e) {
		//动态加载公司名称
		$("#gongsi").keyup(function(){
			//$("#hjd").html($("#hjd").html()+"1");
			val=$(this).val();
			$.post("{:U('keyup_adlist')}",{val:val},function(data){
					$("#adlist").html(data);
			})
			$("#adlist").show();
		})
		//x选择了公司
		$("#adlist").on("click","a",function(){
			
			$.post("{:U('no_list')}",{id:$(this).attr("id")},function(data){
					$("#contract_no").html(data);
			})
			$("#gongsi").val(($(this).html()));
			$("#adlist").hide();
		})
		//选择了负责人
		$("#fzrlist").on("click","a",function(){
			$("#fuzeren").attr("title",$(this).attr("id"))
			$("#fuzeren").val($(this).html());
			$("#fzrlist").hide();
		})
		//点击新增负责人
		$("#add_fzr").on("click",function(){
			if($("#fuzeren").val()=="")
			{
				alert('负责人姓名不能为空');
				$("#fuzeren").select();
				return false;	
			}else
			{
				$.get("{:U("isfzr")}",{val:$("#fuzeren").val()},function(data){
						if(data==0)
						{
							alert("没有这个人员哦~");
							$("#fuzeren").select();
							return false;
						}else
						{
							name=$("#fuzeren").val();
							id=$("#fuzeren").attr("title");
							$(".fzrlist").append('<span class="btn btn-danger">'+name+" x</span> ");
							$("#fzrlsitwz").append('<input type="hidden" class="fzrlist" name="fzrlist[]" value="'+id+'">');
							
						}
				})	
			
			}
			
		})
		//删除已选负责人
		$(".fzrlist").on("click","span",function(){
			$(".fzrlist").eq($(this).index()).remove();
			$(this).remove();
		})
		
		$("#contract_no").on("change",function(){
			a=$("#contract_no").find("option:selected").attr("id");
			//alert($(this).val())
			
			$("#contract_id").val(a);
			//alert($("#contract_id").val());
			//contract_id
		})
		
		//动态加载员工姓名
		$("#fuzeren").keyup(function(){
			//$("#hjd").html($("#hjd").html()+"1");
			val=$(this).val();
			$.post("{:U('keyup_fzrlist')}",{val:val},function(data){
					if(data!='')
					{
						$("#fzrlist").html(data);
					}
			})
			$("#fzrlist").show();
		})
		
		
		$("#gongsi").on("blur",function(){
			setTimeout(function () {
				$("#adlist").hide();
            }, 300);
		})
		
		//动态检查账户名称是否被添加过
		$("#a_users").keyup(function(){
			var val=$(this).val();
			
			$.post("{:U('keyup_isaddusersname')}",{val:val},function(data){
					$("#keyup_isaddusersname").html(data);
			})
		})
		
		$("#formid").submit(function(){
	
		if($("#a_users").val()=="")
		{
			alert("请填写用户名");
			$("#a_users").select();
			return false;	
		}	
		
				
	})
    });
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a,#fzrlist li a{ cursor:pointer;}
	.bzj{ display:none; }
</style>
</head>

<body>

<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >添加账户<small>add Account</small></h3>
<br>
<form action="{:U('addru')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" name="submituser" id="submituser" value="{$Think.cookie.u_id}">
<input type="hidden" name="contract_id" id="contract_id" value="{$contract_id}">
{$contract_id?'<input type="hidden" name="for_contract" id="for_contract" value="1">':''}
<span id="fzrlsitwz"></span>
<h4 class="bor-left-bull" >账户基本信息</h4>
<h r>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">广告主公司名称</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="gongsi" id="gongsi" placeholder="输入客户名称前几个字我们将自动匹配" value="{$hetong[advertiser]}">
    <ul class="dropdown-menu" id="adlist">
	  
    </ul>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">合同编号</label>
    <div class="col-sm-3">
    	<select  class="form-control" name="contract_no" id="contract_no">
        	 <option>{$hetong[contract_no]?$hetong[contract_no]:'--选择广告主公司名称--'}</option>
        </select>
    </div>
    
    
  </div>


  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">APP名称</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="appname" id="appname">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">账户类型</label>
    <div class="col-sm-2">
      <select  class="form-control" name="type" id="type">        
        <volist id="accounttype" name="accounttype" key="k">
       	<option value="{$accounttype.id}" title="{$accounttype.name}">{$accounttype.name}</option>
       </volist>

      </select>
    </div>
    
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">开户域名</label>
    <div class="col-sm-3">
    	  <input type="text" class="form-control" autocomplete="off" name="promote_url" id="promote_url">
    </div>
    <label for="rebates_proportion" class="col-sm-1 control-label">屏蔽地域</label>
    <div class="col-sm-3">      

    		<select name="pingbidiyu"  class="form-control" id="pingbidiyu">
    <option value="无">无</option>
<option value="北京市">北京市</option> 
<option value="天津市">天津市</option>
<option value="上海市">上海市</option>
<option value="重庆市">重庆市</option>
<option value="河北省">河北省</option>
<option value="河南省">河南省</option>
<option value="云南省">云南省</option>
<option value="辽宁省">辽宁省</option>
<option value="黑龙江省">黑龙江省</option>
<option value="湖南省">湖南省</option> 
<option value="湖南省">安徽省</option>
<option value="山东省">山东省</option>
<option value="新疆维吾尔">新疆维吾尔</option> 
<option value="江苏省">江苏省</option>
<option value="浙江省">浙江省</option>
<option value="江西省">江西省</option>
<option value="湖北省">湖北省</option>
<option value="广西壮族">广西壮族</option> 
<option value="甘肃省">甘肃省</option>
<option value="山西省">山西省</option>
<option value="内蒙古">内蒙古</option>
<option value="陕西省">陕西省</option>
<option value="吉林省">吉林省</option>
<option value="福建省">福建省</option>
<option value="贵州省">贵州省</option>
<option value="广东省">广东省</option>
<option value="青海省">青海省</option>
<option value="西藏">西藏</option>
<option value="四川省">四川省</option> 
<option value="宁夏回族">宁夏回族</option> 
<option value="海南省">海南省</option>
<option value="台湾省">台湾省</option>
<option value="香港特别行政区">香港特别行政区</option>
<option value="澳门特别行政区">澳门特别行政区</option>
</select>
    </div>
    

    
    </div>
    
   

<div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">主手机号</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" name="tel" id="tel">
    </div>
    

    
  </div>
  
  <h4 class="bor-left-bull" >账户账号信息</h4>
  <hr>
	<div class="form-group">
  
    <label for="payment_type" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-3">
     	<input type="text" name="a_users" class="form-control" id="a_users">
        <span id="keyup_isaddusersname"></span>
    </div>
    
    <label for="payment_time" class="col-sm-1 control-label">密码</label>
    <div class="col-sm-3">      
		<input type="text" name="a_password" class="form-control" id="a_password">
    </div>

    
  </div>

  <h4 class="bor-left-bull" >账户负责人信息</h4>
  <hr>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">负责人</label>

	<div class="col-sm-3">
     <div class="input-group">
    <input type="text" class="form-control" autocomplete="off" name="fuzeren" id="fuzeren" placeholder="输入姓氏我们将自动匹配" >
    <ul class="dropdown-menu" id="fzrlist">
	  
    </ul>
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" id="add_fzr">新增</button>
      </span>
      </div>
   </div>
   <div class="col-sm-7">
   		 <div class="input-group">
   		<span class="btn btn-danger">已选负责人</span> <span class="fzrlist"></span>
        </div>
   </div>
   </div>
 
 
  <h4 class="bor-left-bull" >备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="note" id="note" rows="4"></textarea>
   </div>

   </div>
	
    <div class="form-group">
    
       <div class="col-sm-2">
       <button type="submit" class="btn btn-primary">提交申请</button>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
