<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">

<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>

<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >查看账户</h3>
<br>
<form action="{:U('upru')}" method="post" class="form-horizontal" id="formid" >

<h4 class="bor-left-bull" >账户基本信息</h4>
<hr>
<div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">广告主公司名称</label>
    <div class="col-sm-3">
        	<label  class="control-label"><strong>{$hetong[advertiser]}</strong></label>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">合同编号</label>
    <div class="col-sm-3">
        	<label  class="control-label"><strong>{$hetong[contract_no]}</strong></label>
    </div>
    
    
  </div>
<div class="form-group">
   	 <label class="col-sm-2 control-label">提交人</label>
     <div class="col-sm-3">
    	<label  class="control-label"><strong>{$users_info}</strong></label>
     </div>
   </div>
   <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">APP名称</label>
    <div class="col-sm-3">
    	 <label  class="control-label"><strong>{$info[appname]}</strong></label>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">账户类型</label>
    <div class="col-sm-2">
        <volist id="accounttype" name="accounttype" key="k">
      		<label  class="control-label"><strong>{$info[type]==$accounttype[id]?$accounttype[name]:''}</strong></label>
       </volist>
    </div>
    
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">开户域名</label>
    <div class="col-sm-3">

      		<label  class="control-label"><strong>{$info[promote_url]}</strong></label>
    </div>
    
    <!--<label for="inputEmail3" class="col-sm-1 control-label">IP地址</label>
    <div class="col-sm-2">
          	<label  class="control-label"><strong>{$info[ip]}</strong></label>
    </div>-->
    <label for="rebates_proportion" class="col-sm-1 control-label">屏蔽地域</label>
    <div class="col-sm-3">      
          	<label  class="control-label"><strong>{$info[pingbidiyu]}</strong></label>
    </div>

    </div>
    

  
     <div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">主手机号</label>
    <div class="col-sm-3">
       <label  class="control-label"><strong>{$info[tel]}</strong></label>
    </div>
    
    

    
  </div>
  
  <h4 class="bor-left-bull" >账户账号信息</h4>
  <hr>
	<div class="form-group">
  
    <label for="payment_type" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-3">
        <label  class="control-label"><strong>{$info[a_users]}</strong></label>
    </div>
    
    <label for="payment_time" class="col-sm-1 control-label">密码</label>
    <div class="col-sm-3">    
        <label  class="control-label"><strong>{$info[a_password]}</strong></label>
    </div>
    
  </div>
    <h4 class="bor-left-bull" >账户负责人信息</h4>
  <hr>
	<div class="form-group">
  
    <label for="payment_type" class="col-sm-2 control-label">负责人</label>
    <div class="col-sm-3">
        <label  class="control-label"><strong>
        <volist id="userslist" name="userslist">
        	{$userslist['name']}&nbsp;&nbsp;
        </volist>
       
        
        </strong></label>
    </div>
    

    
  </div>

  <h4 class="bor-left-bull" >备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">
   		<label  class="control-label"><strong>{$info[note]}</strong></label>
   </div>

   </div>
    <div class="form-group">
    
       <div class="col-sm-12">
       <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1)">返回</button>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
