<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script language="javascript">
	$(document).ready(function(e) {
				
		//动态加载公司名称
		$("#gongsi").keyup(function(){
			//$("#hjd").html($("#hjd").html()+"1");
			val=$(this).val();
			$.post("{:U('keyup_adlist')}",{val:val},function(data){
					$("#adlist").html(data);
			})
			$("#adlist").show();
		})
		
		$("#adlist").on("click","a",function(){
			
			$.post("{:U('no_list')}",{id:$(this).attr("id")},function(data){
					$("#contract_no").html(data);
			})
			
			$("#advertiser").val($(this).attr("id"));
			$("#submituser").val($(this).attr("title"));
			$("#gongsi").val(($(this).html()));
			$("#adlist").hide();
			//$("#gongsi").html(data);
		})
$("#gongsi").on("blur",function(){
			setTimeout(function () {
				$("#adlist").hide();
            }, 300);
		})
		


				
		$("#formid").submit(function(){
		if($("#appname").val()=="")
		{
			alert("请填写APP名称");
			$("#appname").select();
			return false;	
		}	
		if($("#promote_url").val()=="")
		{
			alert("请填写推广URL");
			return false;	
		}	


				
	})
    });
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>
{$hjd|}
<span id="hjd"></span>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >修改账户</h3>
<br>
<form action="{:U('upru')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" name="id" id="id" value="{$info[id]}">
<input type="hidden" name="submituser" id="submituser" value="{$info[submituser]}">

<h4 class="bor-left-bull" >账户基本信息</h4>
<hr>

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">APP名称</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="appname" id="appname" value="{$info[appname]}">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">账户类型</label>
    <div class="col-sm-2">
      <select  class="form-control" name="type" id="type">        
        <volist id="accounttype" name="accounttype" key="k">
       	<option value="{$accounttype.id}" title="{$accounttype.name}" {$info[fandian]==$accounttype[id]?'selected':''} >{$accounttype.name}</option>
       </volist>

      </select>
    </div>
    
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">推广URL</label>
    <div class="col-sm-3">
    	  <input type="text" class="form-control" autocomplete="off" name="promote_url" id="promote_url" value="{$info[promote_url]}">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">IP地址</label>
    <div class="col-sm-2">
     	<input type="text" class="form-control" name="ip" id="ip" value="{$info[ip]}">
    </div>
    </div>
    



  
  
  <div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">返点</label>
    <div class="col-sm-3">
      	<div class="input-group">
        <input type="text" class="form-control" name="fandian" id="fandian" value="{$info[fandian]}">
    	<span class="input-group-addon">%</span>
        </div>
    </div>
    
    <label for="rebates_proportion" class="col-sm-1 control-label">屏蔽地域</label>
    <div class="col-sm-3">      
    	
		<input type="text" class="form-control" name="pingbidiyu" id="pingbidiyu" value="{$info[pingbidiyu]}">
    	
    </div>
    

    
  </div>
   <div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">主手机号</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" name="tel" id="tel" value="{$info[tel]}">
    </div>
    


    
  </div>
  
  <h4 class="bor-left-bull" >账户账号信息</h4>
  <hr>
	<div class="form-group">
  
    <label for="payment_type" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-3">
     	<input type="text" name="a_users" class="form-control" id="a_users" value="{$info[a_users]}">
    </div>
    
    <label for="payment_time" class="col-sm-1 control-label">密码</label>
    <div class="col-sm-3">      
		<input type="text" name="a_password" class="form-control" id="a_password" value="{$info[a_password]}">
    </div>

    
  </div>
 
  <h4 class="bor-left-bull" >退款备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="note" id="note" rows="4">{$info[note]}</textarea>
   </div>

   </div>
	
    <div class="form-group">
    
       <div class="col-sm-12">
       <button type="submit" class="btn btn-primary">提交</button>

       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
