<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<form method="post" enctype="multipart/form-data" name="form1" id="form1" action="{:U("upload")}">
  <p>
    <label for="fileField">File:</label>
    <input type="file" name="file" id="fileField">
 </p>
  <p>
    <label for="textfield">x轴:</label>
    <input type="text" name="img_x" id="textfield">
  </p>
  <p>
    <label for="textfield">y轴:</label>
    <input type="text" name="img_y" id="textfield">
  </p>
  <p>
    <label for="textfield">裁剪图片宽度:</label>
    <input type="text" name="img_w" id="textfield">
  </p>
  <p>
    <label for="textfield">裁剪图片高度:</label>
    <input type="text" name="img_h" id="textfield">
  </p>
  <p>
    <label for="textfield">字号:</label>
    <input type="text" name="font_size" id="textfield">
  </p>
  <p>
    <label for="textfield">文字:</label>
    <textarea name="string"></textarea>
  </p>
  <p>
    <label for="textfield">颜色:</label>
    <input name="color" type="text" id="textfield" value="255,255,255">
  </p>
  <p>
    <label for="textfield">行数:</label>
    <input name="line" type="text" id="line" value="1">
  </p>
  <p>
    <label for="textfield">字体:</label>
	<select name="font">
    	<option value="FZLTZH.TTF" selected>方正兰亭中黑</option>
        <option value="FZZYJT.ttf">方正准圆简体</option>
        <option value="FZCSK.ttf">FZCSK</option>
        <option value="MFLangQian.otf">MFLangQian</option>
        <option value="MFLiHei.otf">MFLiHei</option>
        <option value="MFYueYuan.otf">MFYueYuan</option>
    </select>
  </p>
    <p>
    <label for="textfield">logo:</label>
    <input name="logo" type="text" id="line" >
  </p>
    <p>
    <label for="textfield">logo宽度:</label>
    <input name="logo_w" type="text" id="line" >
  </p>
    <p>
    <label for="textfield">logo高度:</label>
    <input name="logo_h" type="text" id="line" >
  </p>
    <p>
    <label for="textfield">logoX轴:</label>
    <input name="logo_x" type="text" id="line" >
  </p>
    <p>
    <label for="textfield">logoY轴:</label>
    <input name="logo_y" type="text" id="line" >
  </p>

  <p>
  <input type="submit" name="submit" id="submit" value="提交">
  </p>
</form>
</body>
</html>
