# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
node_modules
build
.idea
.idea/Project_Default.xml

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.sublime-project
*.sublime-workspace

gdimg
Application/Runtime
Crm_Record
crontab_curl/log
fz
Uploads
gdimg/upload
Application/Common/Conf/config.php
1.html
2.html