<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>

    <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
    <script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
    <script src="/Public/js/jquery-3.1.0.min.js"></script>
    <script src="/Public/js/hjdfunction.js"></script>
    <script src="/Public/js/jquery.validate.min.js"></script>
    <script src="/Public/js/messages_zh.js"></script>

    <script language="javascript">
        $(document).ready(function(e) {

            //自动换算百度币
            $("#rebates_proportion,#money").keyup(function(){
                jr=$("#money").val();
                bl=$("#rebates_proportion").val();
                $("#show_money").val((jr*(1+(bl/100))).toFixed(2));
            })

            $("input[name='type']").change(function(){

                if($(this).val()=='2')
                {
                    $(".bzj").show(200);
                }else
                {
                    $(".bzj").hide(100);
                }
            })

            function findSize(id){
                var len=$("#fileup")[0].files.length;
                var fa=true;
                for (var i=0;i<len;i++)
                {
                    var size=($("#fileup")[0].files[0].size / 1024).toFixed(2);
                    //alert(size);
                    if(size>2000)
                    {
                        fa=false;
                    }
                }

                return fa;
            }

            $("#formid").submit(function(){

                if(findSize("fileup")!=true)
                {
                    alert('上传的文件可能超出大小限制，请重新选择2M以内图片!');
                    return false;
                }

                if($("#money").val()=="")
                {
                    alert("请填写续费金额");
                    $("#money").select();
                    return false;
                }



                if($("#rebates_proportion").val()=="")
                {
                    alert("请填写返点比例");
                    $("#rebates_proportion").select();
                    return false;
                }
                if($("#show_money").val()=="")
                {
                    alert("请填写账户显示金额");
                    $("#show_money").select();
                    return false;
                }


                if($("#account").val()=="")
                {
                    alert("请选择账户名称，如没有请到合同处账户管理里添加账户信息");
                    $("#account").select();
                    return false;
                }

                if($("#payment_type").val()=="")
                {
                    alert("请选择付款方式");
                    return false;
                }

                if(!$.isNumeric($('#money').val()))
                {
                    alert("续费金额不是数字");
                    return false;
                }

            })




        });


    </script>
    <style type="text/css">
        #adlist{ margin-left:15px;}
        #adlist li a{ cursor:pointer;}
        .diankuan{ display:none;}

    </style>
</head>

<body>
<span id="hjd"></span>
<div class="container" style="width:100%;">
    <h3 class="bor-left-bull" >{$kehuinfo[advertiser]}<span class=" glyphicon glyphicon-chevron-right"></span>{$contract[title]}<span class="glyphicon glyphicon-chevron-right"></span>新增续费</h3>
    <br>
    <form action="{:U('m_renew_addru')}" method="post" class="form-horizontal" id="formid" enctype="multipart/form-data" >
        <input type="hidden" name="advertiser" id="advertiser" value="{$contract[advertiser]}">
        <input type="hidden" name="submituser" id="submituser" value="{$contract[submituser]}">
        <input type="hidden" name="agent_company" id="agent_company" value="{$contract[agent_company]}">

        <input type="hidden" name="type" id="type" value="{$info[type]}">
        <input type="hidden" name="xf_hetonghao" id="xf_hetonghao" value="{$contract[contract_no]}">
        <input type="hidden" name="xf_contractid" id="xf_contractid" value="{$contract[id]}">
        <input type="hidden" name="htid" id="htid" value="{$contract[id]}">
        <input type="hidden" name="isxufei" id="isxufei" value="1">
        <input type="hidden" name="market" id="isxufei" value="{$contract[submituser]}">

        <h4 class="bor-left-bull" >合同基本信息</h4>
        <hr>

        <div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">媒体名称</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" autocomplete="off" name="gongsi" id="gongsi" value="{$kehuinfo[advertiser]}" disabled>
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">代理公司</label>
            <div class="col-sm-2">
                <select  class="form-control" name="agent_company" id="agent_company1" disabled>
                    <volist id="agentcompany" name="agentcompany" key="k">
                        <option value="{$agentcompany.id}" title="{$agentcompany.title}"  {$contract[agent_company]==$agentcompany[id]?'selected':''}>{$agentcompany.companyname}</option>
                    </volist>

                </select>

            </div>

        </div>
        <div class="form-group">
            <!--<
             <label for="inputEmail3" class="col-sm-2 control-label"> 产品线</label>
             <div class="col-sm-3">
             <select  class="form-control" name="product_line" id="product_line1" disabled>
                   <option>请选择</option>
                   <volist id="product_line_list" name="product_line_list" key="k">
                    <option value="{$product_line_list.id}" title="{$product_line_list.title}" {$info[product_line]==$product_line_list[id]?'selected':''}>{$product_line_list.name}</option>
                </volist>
               </select>

             </div>

            label for="inputEmail3" class="col-sm-1 control-label">合同编号</label>
             <div class="col-sm-3">
               <input name="contract_no" type="text" class="form-control" id="contract_no" placeholder="自动生成，无需填写">
             </div>-->
        </div>



        <h4 class="bor-left-bull" >续费信息</h4>
        <hr>

        <!--<div class="form-group">

          <label for="inputEmail3" class="col-sm-2 control-label">产品线</label>
          <div class="col-sm-3">
            <select  class="form-control">
                <option>凌众时代</option>
                <option>谋士</option>
            </select>
          </div>

          <label for="inputEmail3" class="col-sm-1 control-label">推广URL</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="inputEmail3">
          </div>

        </div>-->
        <div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">广告主名称</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" autocomplete="off" name="appname" id="appname" value="{$info[appname]}" required>

            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">APP名称</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" autocomplete="off" name="appname" id="appname" value="{$info[appname]}" required>
            </div>

        </div>
        <div class="form-group">

            <label for="contract_money" class="col-sm-2 control-label">金额</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="money" id="money"	>
                    <span class="input-group-addon">元</span>
                </div>
            </div>

            <label for="rebates_proportion" class="col-sm-1 control-label">返点比例</label>
            <div class="col-sm-1">
                <div class="input-group">
                    <input type="text" class="form-control" name="rebates_proportion" autocomplete="off"  style=" width:105px;" id="rebates_proportion">
                    <span class="input-group-addon">%</span>
                </div>
            </div>

            <label for="show_money" class="col-sm-2 control-label">账户显示金额</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="show_money" id="show_money">
                    <span class="input-group-addon">元</span>
                </div>
            </div>

        </div>


        <!--<div class="form-group">

          <label for="inputEmail3" class="col-sm-2 control-label">合同有效期</label>
          <div class="col-sm-3">
              <input id="contract_start" class="Wdate form-control" type="text" name="contract_start" <literal>onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'contract_start\')||\'2020-10-01\'}'})" </literal>value="{$info[contract_start]|date='Y-m-d',###}"/>
          </div>
          <label for="inputEmail3" class="col-sm-1 control-label">结束时间</label>
              <div class="col-sm-2">
      <input id="contract_end" class="Wdate form-control" type="text" name="contract_end" <literal> onFocus="WdatePicker({minDate:'#F{$dp.$D(\'contract_end\')}',maxDate:'2020-10-01'})"</literal> value="{$info[contract_end]?$info[contract_end]|date='Y-m-d',###:''}"/>
          </div>


          <div  class="col-sm-4 control-label" style="text-align:left;">
          <span class="glyphicon glyphicon-bookmark"></span> 结束时间为空则认为合同截止日期为： 至消费结束

          </div>



        </div>-->

        <h4 class="bor-left-bull" >付款信息</h4>
        <hr>
        <div class="form-group">

            <label for="payment_type" class="col-sm-2 control-label">付款日期</label>
            <div class="col-sm-2">
                <input type="text" name="payment_time" class="Wdate form-control" id="payment_time" onClick="WdatePicker()">
            </div>



            <!--<label for="inputEmail3" class="col-sm-1 control-label">付款金额</label>
            <div class="col-sm-2">
                <div class="input-group">
                <input type="text" name="fk_money" class="form-control" id="fk_money">
                <span class="input-group-addon">元</span>
                </div>
            </div>-->

        </div>

        <div class="form-group diankuan">

            <label for="inputEmail3" class="col-sm-2 control-label">是否开票</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input name="ispiao" type="radio" id="type_0" value="0" checked>
                    未开</label>

                <label class="radio-inline">
                    <input type="radio" name="ispiao" value="1" id="type_1">
                    已开</label>
            </div>

            <!--<label for="inputEmail3" class="col-sm-1 control-label">预计回款日期</label>
            <div class="col-sm-2">
                <input type="text" name="back_money_time" class="Wdate form-control" id="back_money_time" onClick="WdatePicker()">
            </div>-->
        </div>


        <h4 class="bor-left-bull" >上传附件</h4>
        <hr>
        <div class="form-group">

            <label for="payment_type" class="col-sm-2 control-label">选择文件</label>
            <div class="col-sm-3">
                <input name="file[]" type="file" id="fileup" multiple>
            </div>


        </div>
        <h4 class="bor-left-bull" >续费备注</h4>
        <hr>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea class="form-control" name="note" id="note" rows="4"></textarea>
            </div>

        </div>

        <div class="form-group">

            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">提交续费</button>
            </div>
        </div>

    </form>

</div>
<br>
<br>
<br>

</body>
</html>
