<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/Public/js/dist/webuploader.css">

<!--引入JS-->
<script language="javascript">
$(document).ready(function(e) {
    $("#new_contact").click(function(){
		$("#contactmain").append('<div class="form-group"><div class="col-sm-1"><input type="text" class="form-control" name="name_n[]" id="inputEmail3" required placeholder="联系人"></div><div class="col-sm-2"><input type="text" name="tel_n[]" required placeholder="电话" class="form-control" id="inputEmail3"></div><div class="col-sm-2"><input type="text" name="qq_n[] "placeholder="QQ"  class="form-control" id="inputEmail3"></div><div class="col-sm-2"><input type="text" name="weixin_n[]" placeholder="微信" class="form-control" id="inputEmail3"></div><div class="col-sm-2"><input type="text" name="email_n[]" placeholder="邮箱"  class="form-control" id="inputEmail3"></div><div class="col-sm-2"><input type="text" name="position_n[]" placeholder="职位" class="form-control" id="inputEmail3"></div></div>')
	})
	$(".de_contact").click(function(){
		deid=$(this).attr("id");
		
		
		$.get("{:U("delete_contact")}",{id:deid,stime:+Math.random()},function(index){
			if(index=='1')
			{
				
				$("#contact_list_id_"+deid).remove();
			}else
			{
				alert('删除失败');	
			}
			
		})
		
	})
	
		
$("#formid").submit(function(){
		if($("#inputEmail3ad").val()=="")
		{
			alert("请填写公司名称");
			$("#inputEmail3ad").select();
			return false;	
		}		
		/*if($("#website").val()=="" || $("#website").val()=='http://www.')
		{
			alert("请填写公司网址");
			$("#website").select();
			return false;	
		}*/
		if($("#industry").val()=="")
		{
			alert("请选择客户所属行业");
		
			return false;	
		}
		
		if($("#inputEmail8se").val()=="")
		{
			alert("请选择客户所属省份");
		
			return false;	
		}	
		
	})

});
</script>
</head>

<body>
<div class="container" style="width:100%;" >
<h3 class="bor-left-bull" >修改客户<small>update Customer</small></h3>
<br>
<form action="{:U('upru')}" method="post" class="form-horizontal" id="formid">
<input type="hidden" name="id" value="{$info[id]}">
<input type="hidden" name="time" value="{$info[ctime]}">
<h4>客户基本信息</h4>
<hr>

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">广告主公司名称</label>
    <div class="col-sm-3">
      <input name="advertiser" type="text" class="form-control" value="{$info['advertiser']}" id="inputEmail3">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">客户类型</label>
    <div class="col-sm-3">
      <select name="type"  class="form-control" id="type">
      	<option value="1" {$info['type']=='1'?'selected':''} >公司</option>
      	<option value="2" {$info['type']=='2'?'selected':''}>个人</option>
      </select>
    </div> 

  </div>



   <br>
   <hr>
	<div class="form-group">
  
   <div class="col-sm-2">
   <button type="submit" class="btn btn-primary" style="width:150px;" >提交</button>
   </div>
   </div>

</form>

</div>
<br>
<br>

</body>
</html>
