.total{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url(../images/admin/BG0.jpg) no-repeat;
    background-position: 100% 100%;
}
input,textarea {
     outline:none;
}


body,html{
    height: 100%;
    overflow: hidden;
}
.left,.right{
    float: right;
}
.top{
    margin-top: 12%;
}
.left{
    background: #ffffff;
    margin-right: 10%;
    margin-left: 220px;
    padding:40px;
    /*border-radius: 10px;*/

}

.wel{
    text-align: center;
    color: #666666;
    font-size: 25px;
    font-family:Microsoft YaHei, sans-serif, Arial;

}
.wel-2 input,.wel-3 input{
    font-size: 14px;
    border: 0;
    width: 200px;
    padding-left: 4px;
    margin-left: 10px;
}
.wel-2{
    line-height: 40px;
    margin-top: 20px;
    text-align: left;
    border-bottom: 1px solid #d7d7da;
}
.wel-2 img{
    vertical-align: middle;
}
.wel-3{
    line-height: 40px;
    margin-top: 20px;
    text-align: left;
    border-bottom: 1px solid #d7d7da;
}
.wel-3 img{
    vertical-align: middle;
}
.btn{
    width: 100%;
   /*border-radius:5px;*/
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #00abfe;
    border: 0;
    color: #ffffff;

}
.wel-4{
    margin-top: 30px;
}
.right{
    margin-right:8%;
}
.banben{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 14px;
    color: #ffffff;
    font-family: Microsoft YaHei, sans-serif, Arial;

}