<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script language="javascript">
	$(document).ready(function(e) {
				
		//动态加载公司名称
		$("#gongsi").keyup(function(){
			//$("#hjd").html($("#hjd").html()+"1");
			val=$(this).val();
			$.post("{:U('keyup_adlist')}",{val:val},function(data){
					$("#adlist").html(data);
			})
			$("#adlist").show();
		})
		
		$("#adlist").on("click","a",function(){
			
			$.post("{:U('no_list')}",{id:$(this).attr("id")},function(data){
					$("#contract_no").html(data);
			})
			
			$.getJSON("{:U('fp_info')}",{id:$(this).attr("id")},function(data){
				$("#tax_identification").val(data.tax_identification);
				$("#ticket_address").val(data.ticket_address);
				$("#open_account").val(data.open_account);
				$("#account").val(data.account);
				$("#kp_tel").val(data.kp_tel);
			})
			$("#advertiser").val($(this).attr("id"));
			$("#submituser").val($(this).attr("title"));
			$("#gongsi").val(($(this).html()));
			$("#adlist").hide();
			//$("#gongsi").html(data);
		})
$("#gongsi").on("blur",function(){
			setTimeout(function () {
				$("#adlist").hide();
            }, 300);
		})
		
		$("#main_company").change(function(){
			$.post("{:U('fptype')}",{id:$(this).val()},function(data){
					$("#type").html(data);
			})
		})


				
		$("#formid").submit(function(){
            if($("#money").val()=="")
            {
                alert("请填写发票金额");
                $("#money").select();
                return false;
            }

            if($("#type").val()=="")
            {
                alert("请选择发票类型");
                return false;
            }


				
	})
    });
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>

<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >申请发票<small>New Invoice</small></h3>
<br>
<form action="{:U('addru')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" name="invoice_head" id="advertiser" value="{$Think.get.adid}">
<input type="hidden" name="contract_id" id="contract_id" value="{$Think.get.contract_id}">
<input type="hidden" name="contract_no" id="contract_no" value="{$Think.get.ht_on}">
<input type="hidden" name="submituser" id="submituser" value="{$kehu[submituser]}">
<input type="hidden" name="main_company" id="main_company" value="{$main_company[agent_company]}">

<h4 class="bor-left-bull" >开票基本信息</h4>
<hr>

  <div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">开票金额</label>
    <div class="col-sm-3">
      	<div class="input-group">
        <input type="text" class="form-control" name="money" id="money">
    	<span class="input-group-addon">元</span>
        </div>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">是否回款</label>
    <div class="col-sm-3">
     	<label class="radio-inline">
   	      <input name="is_back_money" type="radio" id="type_0" value="1" checked>
   	      已回款</label>
   	    
   	    <label class="radio-inline">
   	      <input type="radio" name="is_back_money" value="0" id="type_1">
   	      未回款</label>
    </div>
  </div>
  <div class="form-group">

  
    	<label for="inputEmail1" class="col-sm-2 control-label">税目</label>
    <div class="col-sm-3">
      <select  class="form-control" name="type" id="type">
        <option value="">--请选择税目--</option>
        <volist id="smlist" name="smlist">
        	<option value="{$smlist[id]}">{$smlist[name]}</option>
        </volist>
      </select>
    </div>
  <label for="inputEmail3" class="col-sm-1 control-label">APP名称</label>
    <div class="col-sm-2">
     	 <input type="text" class="form-control" name="appname" id="appname">
    </div>
    
    </div>
    

<div class="form-group">
   	<label for="inputEmail3" class="col-sm-2 control-label">开票类型</label>
    <div class="col-sm-3">
    	<label class="radio-inline">
   	      <input name="type2" type="radio" id="type_0" value="1" checked>
   	      专票</label>
   	    
   	    <label class="radio-inline">
   	      <input type="radio" name="type2" value="2" id="type_1">
   	      普票</label>
    </div>
    
    
   </div>

  
     <h4  class="bor-left-bull" >开票资料  <span><a href="{:U("Customer/showim?id=$kehu[id]")}" target="_blank">客户资质</a></span></h4>
  <hr>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">纳税人识别号</label>
    <div class="col-sm-3">
      <input name="tax_identification" value="{$kehu[tax_identification]}" type="text" class="form-control" id="tax_identification" disabled>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">开票地址</label>
    <div class="col-sm-3">      
		<input name="ticket_address" value="{$kehu[ticket_address]}" disabled type="text" class="form-control" id="ticket_address">
    </div>

  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">开户行</label>
    <div class="col-sm-3">
      <input name="open_account" value="{$kehu[open_account]}"  type="text" class="form-control" id="open_account" disabled>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">账号</label>
    <div class="col-sm-3">      
		<input name="account" value="{$kehu[account]}"  type="text" class="form-control" id="account" disabled>
    </div>

  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">电话</label>
    <div class="col-sm-3">
      <input name="kp_tel" value="{$kehu[kp_tel]}"  type="text" class="form-control" id="kp_tel" disabled>
    </div>
    


  </div>

  

 
  <h4 class="bor-left-bull" >发票备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="note" id="note" rows="4"></textarea>
   </div>

   </div>
	
    <div class="form-group">
    
       <div class="col-sm-2">
       <button type="submit" class="btn btn-primary">提交申请</button>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
