<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script language="javascript">
	$(document).ready(function(e) {
				
				
		//动态加载公司名称
		$("#gongsi").keyup(function(){
			//$("#hjd").html($("#hjd").html()+"1");
			val=$(this).val();
			$.post("{:U('keyup_adlist')}",{val:val},function(data){
					$("#adlist").html(data);
			})
			$("#adlist").show();
		})
		
		$("#adlist").on("click","a",function(){
			
			$.post("{:U('no_list')}",{id:$(this).attr("id")},function(data){
					$("#contract_no").html(data);
			})
			
			$.getJSON("{:U('fp_info')}",{id:$(this).attr("id")},function(data){
				
				$("#tax_identification").val(data.tax_identification);
				$("#ticket_address").val(data.ticket_address);
				$("#open_account").val(data.open_account);
				$("#account").val(data.account);
				$("#kp_tel").val(data.kp_tel);

			})
			$("#advertiser").val($(this).attr("id"));
			$("#submituser").val($(this).attr("title"));
			$("#gongsi").val(($(this).html()));
			$("#adlist").hide();
			//$("#gongsi").html(data);
		})
$("#gongsi").on("blur",function(){
			setTimeout(function () {
				$("#adlist").hide();
            }, 300);
		})
		
		$("#main_company").change(function(){
			$.post("{:U('fptype')}",{id:$(this).val()},function(data){
					$("#type").html(data);
			})
		})


				
		$("#formid").submit(function(){
	
		if($("#gongsi").val()=="")
		{
			alert("请填写公司名称");
			$("#gongsi").select();
			return false;	
		}	
		if($("#contract_no").val()=="")
		{
			alert("请选择合同编号");
			return false;	
		}	
		if($("#money").val()=="")
		{
			alert("请填写发票金额");
			$("#money").select();
			return false;	
		}	
		if($("#r_open_account").val()=="")
		{
			alert("请填写退款开户行");
			$("#r_open_account").select();
			return false;	
		}	
		if($("#main_company").val()=="")
		{
			alert("请选择开票主体");
			return false;	
		}	
		if($("#type").val()=="")
		{
			alert("请选择发票类型");
			return false;	
		}	


				
	})
    });
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>
{$hjd|}
<span id="hjd"></span>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >修改发票<small>Refund</small></h3>
<br>
<form action="{:U('upru')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" name="id" id="id" value="{$info[id]}">
<input type="hidden" name="advertiser" id="advertiser" value="{$info[advertiser]}">
<input type="hidden" name="submituser" id="submituser" value="{$info[submituser]}">
<h4 class="bor-left-bull" >开票基本信息</h4>
<hr>
<div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">发票抬头</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="gongsi" id="gongsi" placeholder="输入客户名称前几个字我们将自动匹配" value="{$gongsi}">
    <ul class="dropdown-menu" id="adlist">
	  
    </ul>
    </div>
    
    <label for="contract_money" class="col-sm-1 control-label">开票金额</label>
    <div class="col-sm-2">
      	<div class="input-group">
        <input type="text" class="form-control" name="money" id="money" value="{$info[money]}">
    	<span class="input-group-addon">元</span>
        </div>
    </div>
  </div>
  <div class="form-group">
  	<label for="inputEmail3" class="col-sm-2 control-label">开票主体</label>
    <div class="col-sm-3">
      <select  class="form-control" name="main_company" id="main_company">
      	<option>--请选择--</option>    
        <volist id="agentcompany" name="agentcompany" key="k">
       	<option value="{$agentcompany.id}" title="{$agentcompany.title}" {$info[main_company]==$agentcompany[id]?'selected':''}>{$agentcompany.companyname}</option>
       </volist>

      </select>
    </div>
  
    	<label for="inputEmail1" class="col-sm-1 control-label">开票类型</label>
    <div class="col-sm-2">
      <select  class="form-control" name="type" id="type">
      	<volist id="list" name="list" >
        	<option value="{$list.id}"  {$info[type]==$list[id]?'selected':''}>{$list.name}</option>
        </volist>
      </select>
    </div>
  
    
    </div>
    
	<div class="form-group">
   	<label for="inputEmail3" class="col-sm-2 control-label">合同编号</label>
    <div class="col-sm-3">
    	<select  class="form-control" name="contract_no" id="contract_no">
    	 	<option value="{$info[contract_no]}">{$info[contract_no]}</option>
        </select>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">是否回款</label>
    <div class="col-sm-3">
     	<label class="radio-inline">
   	      <input name="is_back_money" type="radio" id="type_0" value="1"  {$info[is_back_money]==1?'checked':''}>
   	      已回款</label>
   	    
   	    <label class="radio-inline">
   	      <input type="radio" name="is_back_money" value="0" id="type_1"  {$info[is_back_money]==0?'checked':''}>
   	      未回款</label>
    </div>
   </div>
   
   <div class="form-group">
   	<label for="inputEmail3" class="col-sm-2 control-label">发票号</label>
    <div class="col-sm-3">
    	<input type="text" class="form-control" autocomplete="off" name="fp_on" id="fp_on"  value="{$info[fp_on]}">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">开票时间</label>
    <div class="col-sm-3">
     	<input type="text" name="kp_time" class="Wdate form-control" id="kp_time" onClick="WdatePicker()" value="{$info[kp_time]?$info[kp_time]|date="Y-m-d",###:''}">
    </div>
   </div>
   
   
   <div class="form-group">
   	<label for="inputEmail3" class="col-sm-2 control-label">开票类型</label>
    <div class="col-sm-3">
    	<label class="radio-inline">
   	      <input name="type2" type="radio" id="type_0" value="1"  {$info[type2]==1?'checked':''}>
   	      专票</label>
   	    
   	    <label class="radio-inline">
   	      <input type="radio" name="type2" value="2" id="type_1" {$info[type2]==2?'checked':''}>
   	      普票</label>
    </div>
    <label for="inputEmail3" class="col-sm-1 control-label">APP名称</label>
    <div class="col-sm-3">
     	 <input type="text" class="form-control" name="appname" id="appname" value="{$info[appname]}">
    </div>

   </div>
   
   <h4  class="bor-left-bull" >开票资料 </h4>
  <hr>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">纳税人识别号</label>
    <div class="col-sm-3">
      <input name="tax_identification" type="text" class="form-control" id="tax_identification" value="{$kaipinfo[tax_identification]}">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">开票地址</label>
    <div class="col-sm-3">      
		<input name="ticket_address" type="text" class="form-control" id="ticket_address" value="{$kaipinfo[ticket_address]}">
    </div>

  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">开户行</label>
    <div class="col-sm-3">
      <input name="open_account" type="text" class="form-control" id="open_account" value="{$kaipinfo[open_account]}">
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">账号</label>
    <div class="col-sm-3">      
		<input name="account" type="text" class="form-control" id="account" value="{$kaipinfo[account]}">
    </div>

  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">电话</label>
    <div class="col-sm-3">
      <input name="kp_tel" type="text" class="form-control" id="kp_tel" value="{$kaipinfo[kp_tel]}">
    </div>
    
  </div>
  <h4 class="bor-left-bull" >开票备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="note" id="note" rows="4">{$info[note]}</textarea>
   </div>

   </div>
	<h4 class="bor-left-bull" >审核状态</h4>
 	 <hr>
	 <div class="form-group">
    
       <div class="col-sm-12">
       
        <if condition="$info[audit_1] eq 0">
       		<span class="shno">一级审核未审核</span>
        	<elseif condition="$info[audit_1] eq 1"/>
             <span class="shyes">一级审核已审核(审核人：{$users_info3?$users_info3:'默认'})</span>
            <elseif condition="$info[audit_1] eq 2"/>
            <span class="shno1">一级审核未通过(审核人：{$users_info3?$users_info3:'默认'})</span>
       </if>
       &nbsp;&nbsp;&nbsp;
       <if condition="$info[audit_2] eq 0">
       		<span class="shno">二级审核未审核</span>
            <elseif condition="$info[audit_2] eq 1"/>
            <span class="shyes">二级审核已审核(审核人：{$users_info4?$users_info4:'默认'})</span>
            <elseif condition="$info[audit_2] eq 2"/>
            <span class="shno1">二级审核未通过(审核人：{$users_info4?$users_info4:'默认'})</span>
       </if>
       </div>
    </div>
    <div class="form-group">
    
       <div class="col-sm-12">
       <if condition="($info[audit_1] neq 2) and ($info[audit_2] neq 2)">
        <button type="submit" class="btn btn-primary">提交</button>
        &nbsp;&nbsp;
    	<a href="{:U("shenhe?type=audit_1&id=$info[id]")}" class="btn btn-primary"  {$info[audit_1]!='0'?'style="display:none"':''} >一级审核通过</a>
    	<a href="{:U("shenhe?type=audit_1&id=$info[id]&ju=1")}" class="btn btn-danger"  {$info[audit_1]!='0'?'style="display:none"':''} >一级审核不通过</a>
        &nbsp;&nbsp;
        <a href="{:U("shenhe?type=audit_2&id=$info[id]")}" class="btn btn-primary"  {$info[audit_2]!='0'?'style="display:none"':''}>二级审核通过</a>
      	<a href="{:U("shenhe?type=audit_2&id=$info[id]&ju=1")}" class="btn btn-danger"  {$info[audit_2]!='0'?'style="display:none"':''} >二级审核不通过</a>
        <else/>
        <input type="hidden" name="audit_1" id="audit_1" value="0">
        <input type="hidden" name="audit_2" id="audit_2" value="0">

        <button type="submit" class="btn btn-primary">重新提交</button>
        
        </if>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
