<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script src="/Public/js/hjdfunction.js"></script>
<script language="javascript">
	$(document).ready(function(e) { 

		
		
		//自动换算百度币
		$("#rebates_proportion").keyup(function(){
			jr=$("#money").val();	
			bl=$("#rebates_proportion").val();
			$("#show_money").val((jr*(1+(bl/100))).toFixed(2));
			
		})
		
		$("input[name='type']").change(function(){
			
			if($(this).val()=='2')
			{
				$(".bzj").show(200);	
			}else
			{
				$(".bzj").hide(100);	
			}	
		})
		
		function findSize(id){
			var len=$("#fileup")[0].files.length;
			var fa=true;
			for (var i=0;i<len;i++)
			{
				var size=($("#fileup")[0].files[0].size / 1024).toFixed(2);
				//alert(size);
				if(size>2000)
				{
					fa=false;
				}
			}
			
			return fa;
		}
				
		$("#formid").submit(function(){
		
		if(findSize("fileup")!=true)
		{
			alert('上传的文件可能超出大小限制，请重新选择2M以内图片!');
			return false;
		}
		
		if($("#money").val()=="")
		{
			alert("请填写续费金额");
			$("#money").select();
			return false;	
		}	
		
		
		
		if($("#rebates_proportion").val()=="")
		{
			alert("请填写返点比例");
			$("#rebates_proportion").select();
			return false;	
		}	
		if($("#show_money").val()=="")
		{
			alert("请填写账户显示金额");
			$("#show_money").select();
			return false;	
		}
		
		
		if($("#account").val()=="")
		{
			alert("请选择账户名称，如没有请到合同处账户管理里添加账户信息");
			$("#account").select();
			return false;	
		}	

		if($("#payment_type").val()=="")
		{
			alert("请选择付款方式");
			return false;	
		}	
	})
	
    });
	
	
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.diankuan{ display:none;}
	
</style>
</head>

<body>
<span id="hjd"></span>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >{$info[gongsi]}<span class="glyphicon glyphicon-share-alt"></span>{$info[name]}<span class="glyphicon glyphicon-share-alt"></span>新增退款</h3>
<br>
<form action="{:U('addru')}" method="post" class="form-horizontal" id="formid" enctype="multipart/form-data" >
<input type="hidden" name="advertiser" id="advertiser" value="{$info[advertiser]}">
<input type="hidden" name="submituser" id="submituser" value="{$info[submituser]}">
<input type="hidden" name="agent_company" id="agent_company" value="{$info[agent_company]}">
<input type="hidden" name="product_line" id="product_line" value="{$info[product_line]}">
<input type="hidden" name="type" id="type" value="{$info[type]}">
<input type="hidden" name="xf_hetonghao" id="xf_hetonghao" value="{$info[contract_no]}">
<input type="hidden" name="xf_contractid" id="xf_contractid" value="{$info[id]}">
<input type="hidden" name="htid" id="htid" value="{$info[id]}">
<input type="hidden" name="isxufei" id="isxufei" value="1">
<h4 class="bor-left-bull" >合同基本信息</h4>
<hr>

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">广告主公司名称</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="gongsi" id="gongsi" value="{$info[gongsi]}" disabled>

    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">代理公司</label>
    <div class="col-sm-2">
	 <select  class="form-control" name="agent_company" id="agent_company1" disabled>        
        <volist id="agentcompany" name="agentcompany" key="k">
       	<option value="{$agentcompany.id}" title="{$agentcompany.title}"  {$info[agent_company]==$agentcompany[id]?'selected':''}>{$agentcompany.companyname}</option>
       </volist>

      </select>

    </div>
    
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label"> 产品线</label>
    <div class="col-sm-3">
    <select  class="form-control" name="product_line" id="product_line1" disabled>
      	<option>请选择</option>
      	<volist id="product_line_list" name="product_line_list" key="k">
       	<option value="{$product_line_list.id}" title="{$product_line_list.title}" {$info[product_line]==$product_line_list[id]?'selected':''}>{$product_line_list.name}</option>
       </volist>
      </select>
      
    </div>
    
    <!--<label for="inputEmail3" class="col-sm-1 control-label">合同编号</label>
    <div class="col-sm-3">
      <input name="contract_no" type="text" class="form-control" id="contract_no" placeholder="自动生成，无需填写">
    </div>-->
    </div>
    
    

<h4 class="bor-left-bull" >退款信息</h4>
<hr>


  
  <div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">退款金额</label>
    <div class="col-sm-3">
      	<div class="input-group">
        <input type="text" class="form-control" name="money" id="money">
    	<span class="input-group-addon">元</span>
        </div>
    </div>
    <label for="inputEmail3" class="col-sm-1 control-label">APP名称</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" autocomplete="off" name="appname" id="appname" value="{$info[appname]}" >


    </div>

    
  </div>
  

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">账户名称</label>
    <div class="col-sm-3">
    	<select  class="form-control" name="account" id="account" >
        	<option value="">--请选择账户--</option>
        	<volist id="account" name="account">
        	<option value="{$account[id]}">{$account[a_users]}</option>
            </volist>
        </select>
    </div>
    
    
    
  </div>
  <h4 class="bor-left-bull" >付款信息</h4>
  <hr>
	<div class="form-group">
  
    <label for="payment_type" class="col-sm-2 control-label">退款方式</label>
    <div class="col-sm-3">
      <select  class="form-control" name="payment_type" id="payment_type">
      	<option value="" selected>--请选择--</option>
      	<option value="14">到客户</option>
      	<option value="15">到总账户</option>

      </select>
    </div>
    
    <label for="payment_time" class="col-sm-1 control-label">付款日期</label>
    <div class="col-sm-2">      
		<input type="text" name="payment_time" class="Wdate form-control" id="payment_time" onClick="WdatePicker()">
    </div>
    
    <!--<label for="inputEmail3" class="col-sm-1 control-label">付款金额</label>
    <div class="col-sm-2"> 
    	<div class="input-group">     
		<input type="text" name="fk_money" class="form-control" id="fk_money">
        <span class="input-group-addon">元</span>
        </div>
    </div>-->
    
  </div>
  
  <div class="form-group diankuan">

    <label for="inputEmail3" class="col-sm-2 control-label">是否开票</label>
    <div class="col-sm-3">
     	<label class="radio-inline">
   	      <input name="ispiao" type="radio" id="type_0" value="0" checked>
   	      未开</label>
   	    
   	    <label class="radio-inline">
   	      <input type="radio" name="ispiao" value="1" id="type_1">
   	      已开</label>
    </div>
    
    <!--<label for="inputEmail3" class="col-sm-1 control-label">预计回款日期</label>
    <div class="col-sm-2">
    	<input type="text" name="back_money_time" class="Wdate form-control" id="back_money_time" onClick="WdatePicker()">
    </div>-->
  </div>
  
  

  <h4 class="bor-left-bull" >退款备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="note" id="note" rows="4"></textarea>
   </div>

   </div>
	
    <div class="form-group">
    
       <div class="col-sm-2">
       <button type="submit" class="btn btn-primary">提交退款</button>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
