<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script language="javascript">
$(document).ready(function(e) {
    $(".htshow").click(function(){
		url=$(this).attr("id");
		window.location.href=url;
	})
});
</script>
</head>
<body>
<div class="container"  style="width:100%;">
<div class="row">
	<div class="form-group">
        <div class="col-sm-10"><h2 class="bor-left-bull">产品线管理</h3></div>
        <div class="col-sm-2 text-right"><h2><a href="{:U("add")}"  type="button" class=" btn-primary  btn-xs">添加</a></h2>
	</div>
</div>


<div class="form-group">


</div>
<table class="table table-hover  table-striped">
	<tr>
    	<th>#</th>
    	<th>产品线</th>  
    	<th>简称</th>  
        <th>操作</th>	  
    </tr>
    <volist id="list" name="list" key="k">
    <tr>
    	<td class="htshow" id="{:U("show?id=$list[id]&yid=$info[id]")}">{$k}</td>
    	<td class="htshow" id="{:U("show?id=$list[id]&yid=$info[id]")}">{$list[name]}</td>
    	<td class="htshow" id="{:U("show?id=$list[id]&yid=$info[id]")}">{$list[title]}</td>

        <td>
        <a href="{:U("updata?id=$list[id]&yid=$info[id]")}"  data-toggle="tooltip" data-placement="left" title="修改" ><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;|&nbsp;<a href="{:U("delete?id=$list[id]&yid=$info[id]")}"  {$confirm}  data-toggle="tooltip" data-placement="left"  title="删除"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    </volist>
</table>

</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>

</body>
</html>
