html,body,div,span,p,img,header,footer,nav,ul,li,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
ul,li{
	list-style: none;
}

img{
	border: 0;
}
body{
	width:100%;
	height:100%;
	font-size:14px;
}
#outer{
	width:100%;
}
.uploading{
	width: 1000px;
	margin:0 auto;
}
.select div{
	width:60px;
	height:60px;
	line-height: 60px;
	text-align: center;
	margin-left:40px;
	border:1px solid black;
	display: inline-block;
}
.btn{
	width:60px;
	height:30px;
	margin:0 auto;
}
.img_box{
	width:100%;
	margin:40px auto;
}
.nav{
	width:1000px;
	margin:0 auto;
}
.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}
.jcExample p
{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
.other{
	width:50px;
	height:30px;
	text-align: center;
	line-height: 30px;
	border:1px solid black;
	display: inline-block;
}
.mistakes{
	color: red;
	display: none;
}