<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>公告</title>
<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script language="JavaScript" src="/Public/js/main.js"></script>
<script src="/Public/js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script language="javascript">
        $(document).ready(function(e) {
            $(".hjdtab").tablesorter();
            $(".htshow").click(function(){
                url=$(this).attr("id");
                window.location.href=url;
            })
        });
    </script>
</head>
<body>
<div class="container"  style="width:100%;">
<h3 class="bor-left-bull">公告 <a class="btn btn-primary pull-right" href="{:U("add?id=$info[id]")}">添加公告</a></h3>

<table class="table table-hover  table-striped hjdtab">
    <thead>
	<tr>
    	<th>#</th>
    	<th>标题</th>
        <th>描述</th>
        <th>创建时间</th>
        <!--<th>创建时间</th>-->
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <volist id="list" name="list" key="k">
    <tr>
    	<td class="htshow" id="{$list[file]}">{$k}</td>
    	<td class="htshow" id="{$list[file]}">{$list[title]}</td>
        <td class="htshow" id="{$list[file]}">{$list[content]}</td>
        <!--<td class="htshow" id="{$list[file]}" align="right"><a href="{$list[file]}">{$list[file]}</a></td>-->
    	<td class="htshow" id="{:U("show?id=$list[id]&yid=$info[id]")}">{$list[ctime]}</td>

        <td>
        <a href="{:U("updata?id=$list[id]&yid=$info[id]")}"  data-toggle="tooltip" data-placement="left" title="修改" ><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;|&nbsp;<a href="{:U("delete?id=$list[id]&yid=$info[id]")}"  {$confirm}  data-toggle="tooltip" data-placement="left"  title="删除"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    </volist>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-10">{$page}</div>
    <div class="col-sm-2">
        <div class="input-group input-group-sm" style="margin-top: 20px;">
            <input type="text" class="form-control " placeholder="每页数量" id="page_sum">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="pagesum_btn">Go!</button>
        </span>
        </div>
    </div>

</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>

</body>
</html>
