<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/layer/layer.js"></script>
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/Public/js/dist/webuploader.css">

<!--引入JS-->
<style type="text/css">
.control-label{ text-align:left !important;}
.bor{ border:1px #999 solid; border-radius:5px; padding:10px; margin-bottom:20px;}
    #klist_main{ display: none;}
</style>
    <script language="javascript">
        $(document).ready(function(e) {

            $(".xuanzekuanxiang").click(function(){
                $("#klist_main").show();
                $("#contract_id").val($(this).attr('id'))
            });

    })

</script>
</head>

<body>
<div class="container" style="width:100%;" >
<h3 class="bor-left-bull" >{$customer_info['advertiser']} <span class="glyphicon glyphicon-share-alt" style="font-size:10px;"></span> 合同列表<small></small></h3>
<br>
<div></div>
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">余额：{$zong|num_format}</a>
  <a href="#" class="alert-link">总回款：{$customer_info[huikuan]|num_format}</a>&nbsp;&nbsp;
  <a href="#" class="alert-link">总续费：{$customer_info[yu_e]|num_format}</a>&nbsp;
  <a href="#" class="alert-link">总发票：{$zongfapiao|num_format}</a>&nbsp;&nbsp;
  <a href="#" class="alert-link">总补款：{$customer_info[bukuan]|num_format}</a>&nbsp;&nbsp;
</div>
<br>

<div class="row">
	<volist id="list" name="list">
    	<div class="col-sm-3">
        	<div class="bor">
            	合同类型：{$list.name} {$list[type] == 1?"( 普 )":"( 框 )"}<if condition="$list[isguidang] eq 1"><span  data-toggle="tooltip" data-placement="left" title="合同已归档" class="glyphicon glyphicon-folder-close" style="color:#0492d9;"></span></if><br>
				APP&nbsp;名称： {$list.appname}<br>
				合同编号：{$list.contract_no}<br>
				补款：{$list.bukuan|num_format}<br>
                余额：{$list.yue|num_format}<br>
                总回款：{$list.huikuan|num_format}<br>
                总续费：{$list.yu_e|num_format}<br>
                发票：{$list.invoice|num_format}<br>
            	<!--合同余额：{$list[yu_e]?$list[yu_e]:'暂无信息'}&nbsp;<br>-->

                <if condition="$list[iszuofei] eq 0">
            <a href="{:U("Contract/show?id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="查看合同详情"><span class="glyphicon glyphicon-zoom-in"></span></a>&nbsp;|
            <a  href="{:U("Account/index?contract_id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="账户"><span class="glyphicon glyphicon-list"></span></a>&nbsp;|

            <a href="{:U("Renew/add?id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="续费"><span class="glyphicon glyphicon-transfer"></span></a>&nbsp;|
            <a  href="{:U("history?contract_id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="历史记录"><span class="glyphicon glyphicon-time"></span></a>&nbsp;|
            <a  href="{:U("Backmoney/add2?contract_id=$list[id]&adid=$list[aid]")}" data-toggle="tooltip" data-placement="top" title="添加该合同回款"><span class="glyphicon glyphicon-usd"></span></a>&nbsp;|
            <a  href="{:U("Invoice/add2?contract_id=$list[id]&adid=$list[aid]&ht_on=$list[contract_no]")}" data-toggle="tooltip" data-placement="top" title="添加该合同发票"><span class="glyphicon glyphicon-inbox"></span></a>&nbsp;|
            <a  href="{:U("RefundMoney/add?id=$list[id]")}"  ><span class="glyphicon glyphicon-share" data-toggle="tooltip" data-placement="top" title="退款"></span></a>&nbsp;|
            <if condition="$list[isguidang] eq 0">
                <a href="{:U("Contract/guidang?id=$list[id]")}" onClick="if(confirm('确定要将此合同作归档吗？')){return true}else{return false}" data-toggle="tooltip" data-placement="top"  title="归档"><span  class="glyphicon glyphicon-folder-close"></span></a>&nbsp;|
            </if>
            <a href="{:U("Contract/zuofei?id=$list[id]")}" onClick="if(confirm('确定要将此合同作废吗？')){return true}else{return false}" data-toggle="tooltip" data-placement="top"  title="作废"> <span class="glyphicon glyphicon-floppy-remove"></span></a>&nbsp;|
            <a data-toggle="tooltip" data-placement="top"  title="修改所属销售" class="test1" id="{:U("Contract/upmarket?id=$list[id]")}"><span  class="glyphicon glyphicon-user"></span></a>
                <else/>
                    <span style="color: #FF0000; font-weight: 700;">该合同已作废！</span>
                    <a  href="{:U("history?contract_id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="历史记录"><span class="glyphicon glyphicon-time"></span></a>

                </if>
                <br>

                <a class="xuanzekuanxiang" id="{$list[id]}">选择款项</a>
            </div>
        
        </div>
    </volist>
	
</div>
    <div id="klist_main">
    <form action="{:U('kuan_xuanrn')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" id="contract_id" name="contract_id" value="">

<table class="table">
    <tr>
        <th>#</th>
        <th>账户名称</th>
        <th>APP名称</th>
        <th>时间</th>
        <th>金额</th>
        <th>返点比例</th>
        <th>账户显示金额</th>
        <th>产品线</th>
        <th>类型</th>
        <th>选择</th>
    </tr>
    <volist id="klist" name="klist">
        <tr>
            <td>{$klist[id]}</td>
            <td>{$klist[account_name]}</td>
            <td>{$klist[app_name]}</td>
            <td>{$klist[date]}</td>
            <td>{$klist[money]}</td>
            <td>{$klist[fd]}</td>
            <td>{$klist[money]*(1+$klist[fd])}</td>
            <td>{$klist[product_line]}</td>
            <td>{$klist[type]}</td>
            <td>

                    <input type="checkbox" name="kuan_x[]" id="inlineCheckbox1" value="{$klist[id]}">&nbsp


            </td>
        </tr>

    </volist>

</table>
        <button type="submit" name="sub" value="提交" class="btn btn-success">提交</button>
    </form>
    </div>
</div>
<br>
<br>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
   $('.test1').on('click', function(){
       layer.open({
           type: 2,
           title: '修改该合同所属销售',
           shadeClose: true,
           shade: 0.8,
           area: ['380px', '220px'],
           content: $(this).attr("id"), //iframe的url
           end: function () {
               location.reload();
           }
       });
   });
</script>

</body>
</html>
