<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script language="javascript">
	$(document).ready(function(e) {

				
		$("#formid").submit(function(){
	
		if($("#bumen").val()=="")
		{
			alert("请填写部门");
			$("#bumen").select();
			return false;	
		}	
		if($("#zhiwu").val()=="")
		{
			alert("请填写职务");
			$("#zhiwu").select();
			return false;	
		}	

		if($("#gongsi").val()=="")
		{
			alert("请填写外出公司");
			$("#gongsi").select();

			return false;	
		}	
		if($("#lianxiren").val()=="")
		{
			
			alert("请填写外出联系人");
			$("#lianxiren").select();
			return false;	
		}	
		if($("#tel").val()=="")
		{
			alert("请填写联系人电话");
			$("#tel").select();
			return false;	
		}	





		
		if($("#contract_start").val()=="")
		{
			alert("请选择开始时间");
			return false;	
		}	
		if($("#contract_end").val()=="")
		{
			alert("请选择结束时间");
			return false;	
		}

				
	})
    });
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >我要外出<small> To go out</small></h3>
<br>
<form action="{:U('addru')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" name="submituser" id="submituser"  value="{$Think.session.u_id}">
<h4 class="bor-left-bull" >外出信息</h4>
<hr>

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">部门</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="bumen" id="bumen">
    <ul class="dropdown-menu" id="adlist">
	  
    </ul>
    </div>
    
    <label for="contract_money" class="col-sm-1 control-label">职务</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="zhiwu" id="zhiwu">        
    </div>

  
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">外出公司名称</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="gongsi" id="gongsi">
    <ul class="dropdown-menu" id="adlist">
	  
    </ul>
    </div>
    
    <label for="contract_money" class="col-sm-1 control-label">联系人</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="lianxiren" id="lianxiren">        
    </div>

  
  </div>

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">外出公司地址</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="dizhi" id="dizhi">
    <ul class="dropdown-menu" id="adlist">
	  
    </ul>
    </div>
    
    <label for="contract_money" class="col-sm-1 control-label">联系人电话</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="tel" id="tel">        
    </div>

  
  </div>


    <div class="form-group">
  <literal>
    <label for="inputEmail3" class="col-sm-2 control-label">外出时间</label>
    <div class="col-sm-2">
    	<input id="contract_start" class="Wdate form-control" type="text" name="starttime" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'contract_end\')||\'2020-10-01\'}'})"/> 
    </div>
        <div class="col-sm-2">
<input id="contract_end" class="Wdate form-control" type="text" name="endtime" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'contract_start\')}',maxDate:'2020-10-01'})"/>
    </div>

   </literal>    
  </div>

 
  <h4 class="bor-left-bull" >外出事由</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="shiyou" id="note" rows="4"></textarea>
   </div>

   </div>
	<div class="form-group">
    	<div class="col-sm-12">   注：1请严格遵守此系统提交申请单。2请假必须通过审核才算生效（交后为未审核状态）3 外出请注意安全</div>
    </div>
    <div class="form-group">
    
       <div class="col-sm-2">
       <button type="submit" class="btn btn-primary">提交申请</button>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
