<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/My97DatePicker/WdatePicker.js"></script>
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script language="javascript">
	$(document).ready(function(e) {
				
		//动态加载公司名称
		$("#gongsi").keyup(function(){
			//$("#hjd").html($("#hjd").html()+"1");
			val=$(this).val();
			$.post("{:U('keyup_adlist')}",{val:val},function(data){
					$("#adlist").html(data);
			})
			$("#adlist").show();
		})
		
		$("#adlist").on("click","a",function(){
			
			$.post("{:U('no_list')}",{id:$(this).attr("id")},function(data){
					$("#contract_no").html(data);
			})
			
			$("#advertiser").val($(this).attr("id"));
			$("#submituser").val($(this).attr("title"));
			$("#gongsi").val(($(this).html()));
			$("#adlist").hide();
			//$("#gongsi").html(data);
		})
$("#gongsi").on("blur",function(){
			setTimeout(function () {
				$("#adlist").hide();
            }, 300);
		})
		


				
		$("#formid").submit(function(){
	
		if($("#gongsi").val()=="")
		{
			alert("请填写公司名称");
			$("#gongsi").select();
			return false;	
		}	
		if($("#contract_no").val()=="")
		{
			alert("请选择合同编号");
			return false;	
		}	
		if($("#r_money").val()=="")
		{
			alert("请填写退款金额");
			$("#r_money").select();
			return false;	
		}	
		if($("#r_open_account").val()=="")
		{
			alert("请填写退款开户行");
			$("#r_open_account").select();
			return false;	
		}	
		if($("#r_account").val()=="")
		{
			alert("请填写退款开户账户");
			$("#show_money").select();
			return false;	
		}	
		if($("#r_time").val()=="")
		{
			alert("请选择退款日期");
			return false;	
		}	


				
	})
    });
</script>
<style type="text/css">
	#adlist{ margin-left:15px;}
	#adlist li a{ cursor:pointer;}
	.bzj{ display:none;}
</style>
</head>

<body>
{$hjd|}
<span id="hjd"></span>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >添加退款<small>Refund</small></h3>
<br>
<form action="{:U('addru')}" method="post" class="form-horizontal" id="formid" >
<input type="hidden" name="advertiser" id="advertiser">
<input type="hidden" name="submituser" id="submituser">
<h4 class="bor-left-bull" >退款基本信息</h4>
<hr>

  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">广告主公司名称</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="gongsi" id="gongsi" placeholder="输入客户名称前几个字我们将自动匹配">
    <ul class="dropdown-menu" id="adlist">
	  
    </ul>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">退款主体</label>
    <div class="col-sm-2">
      <select  class="form-control" name="r_company" id="r_company">        
        <volist id="agentcompany" name="agentcompany" key="k">
       	<option value="{$agentcompany.id}" title="{$agentcompany.title}">{$agentcompany.companyname}</option>
       </volist>

      </select>
    </div>
    
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">合同编号</label>
    <div class="col-sm-3">
    	<select  class="form-control" name="contract_no" id="contract_no">
        	 
    	
        </select>
    </div>
    
    <label for="inputEmail3" class="col-sm-1 control-label">是否开票</label>
    <div class="col-sm-3">
     	<label class="radio-inline">
   	      <input name="ispiao" type="radio" id="type_0" value="0" checked>
   	      未开</label>
   	    
   	    <label class="radio-inline">
   	      <input type="radio" name="ispiao" value="1" id="type_1">
   	      已开</label>
    </div>
    </div>
    
   


  
  
  <div class="form-group">
  
    <label for="contract_money" class="col-sm-2 control-label">退款金额</label>
    <div class="col-sm-3">
      	<div class="input-group">
        <input type="text" class="form-control" name="r_money" id="r_money">
    	<span class="input-group-addon">元</span>
        </div>
    </div>
    
    <label for="rebates_proportion" class="col-sm-1 control-label">百度账户</label>
    <div class="col-sm-2">      
    	
		<input type="text" class="form-control" name="baiduhu" id="baiduhu">
    	
    </div>
    
    <label for="show_money" class="col-sm-1 control-label">百度币</label>
    <div class="col-sm-2">      
        <input type="text" class="form-control" name="baidubi" id="baidubi">
       
    </div>
    
  </div>
  <div class="form-group">
  <literal>
    <label for="inputEmail3" class="col-sm-2 control-label">退款日期</label>
    <div class="col-sm-3">
    	<input type="text" name="r_time" class="Wdate form-control" id="r_time" onClick="WdatePicker()">
    </div>
   

   </literal>
	    <label for="inputEmail3" class="col-sm-1 control-label">APP名称或简称</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" autocomplete="off" name="appname" id="appname" value="{$info[appname]}" >
    </div>
    
  </div>
  
  <h4 class="bor-left-bull" >退款银行信息</h4>
  <hr>
	<div class="form-group">
  
    <label for="payment_type" class="col-sm-2 control-label">退款开户行</label>
    <div class="col-sm-3">
     	<input type="text" name="r_open_account" class="form-control" id="r_open_account">
    </div>
    
    <label for="payment_time" class="col-sm-1 control-label">退款开户账户</label>
    <div class="col-sm-2">      
		<input type="text" name="r_account" class="form-control" id="r_account">
    </div>

    
  </div>
 
  <h4 class="bor-left-bull" >退款备注</h4>
  <hr>
  <div class="form-group">
   <div class="col-sm-12">      
		<textarea class="form-control" name="note" id="note" rows="4"></textarea>
   </div>

   </div>
	
    <div class="form-group">
    
       <div class="col-sm-2">
       <button type="submit" class="btn btn-primary">提交申请</button>
       </div>
    </div>

</form>

</div>
<br>
<br>
<br>

</body>
</html>
