<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
</head>

<body>
<div class="container" style="width:100%;">
<h3 class="bor-left-bull" >添加用户<small>Add users</small></h3>
<hr>
<div style="width:300px; margin-left:30px;">
<form action="{:U("addru")}" method="post" enctype="multipart/form-data" id="addusers">
  <div class="form-group">
    <label for="exampleInputEmail1">用户名</label>
    <input type="text" class="form-control" id="users" name="users" placeholder="Users" required  >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">重复密码</label>
    <input type="password" class="form-control" name="fpassword" id="fpassword" placeholder="Verify password" required>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">姓名</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">手机号</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">邮箱</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">头像</label>
    <input type="file" name="image" id="image">
    <p class="help-block">如果不上传会生成一个默认头像..</p>
  </div>
  
   <div class="form-group">
    <label for="exampleInputFile">部门</label>
	<select class="form-control" style="width:200px;" name="groupid">
      <volist id="grouplist" name="grouplist">
      		<option value="{$grouplist[id]}">{$grouplist[group_name]}</option>
      </volist>
    	
    </select>
    
  </div>
<div class="form-group">
    <label for="blankRadio">是否为部门经理</label><br>
     <label>
    <input type="radio" name="manager" id="blankRadio1" checked  value="0"> 不是
	 </label>&nbsp;&nbsp;
     <label>
    <input type="radio" name="manager" id="blankRadio2" value="1"> 是
	 </label>
  </div>
	<hr>
  <button type="submit" class="btn btn-primary" style="width:150px;">提交</button>
</form>
</div>
</div>

</body>
</html>
