<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/Public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Public/css/admin.css">
<script src="/Public/js/jquery-3.1.0.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>

<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/Public/js/dist/webuploader.css">

<!--引入JS-->
<style type="text/css">
.control-label{ text-align:left !important;}
.bor{ border:1px #999 solid; border-radius:5px; padding:10px; margin-bottom:20px;}
</style>
</head>

<body>
<div class="container" style="width:100%;" >
<h3 class="bor-left-bull" >{$customer_info['advertiser']} <span class="glyphicon glyphicon-share-alt" style="font-size:10px;"></span> 合同列表<small></small></h3>
<br>
<div></div>
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">余额：{$zong|num_format}</a>
</div>
<br>

<div class="row">
	<volist id="list" name="list">
    	<div class="col-sm-3">
        	<div class="bor">
            	合同类型：{$list.name} {$list[type] == 1?"( 普 )":"( 框 )"}<if condition="$list[isguidang] eq 1"><span  data-toggle="tooltip" data-placement="left" title="合同已归档" class="glyphicon glyphicon-folder-close" style="color:#0492d9;"></span></if><br>
				APP&nbsp;名称： {$list.appname}<br>
				合同编号：{$list.contract_no}<br>
				补款：{$list.bukuan|num_format}<br>
                余额：{$list.yue|num_format}<br>
                发票：{$list.invoice|num_format}<br>
            	<!--合同余额：{$list[yu_e]?$list[yu_e]:'暂无信息'}&nbsp;<br>-->
                
                <a href="{:U("Contract/show?id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="查看合同详情"><span class="glyphicon glyphicon-zoom-in"></span></a>&nbsp;|
				<a  href="{:U("Account/index?contract_id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="账户"><span class="glyphicon glyphicon-list"></span></a>&nbsp;|

                <a href="{:U("Renew/add?id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="续费"><span class="glyphicon glyphicon-transfer"></span></a>&nbsp;|
        <a  href="{:U("history?contract_id=$list[id]")}" data-toggle="tooltip" data-placement="top" title="历史记录"><span class="glyphicon glyphicon-time"></span></a>&nbsp;|
        <a  href="{:U("Backmoney/add2?contract_id=$list[id]&adid=$list[aid]")}" data-toggle="tooltip" data-placement="top" title="添加该合同回款"><span class="glyphicon glyphicon-usd"></span></a>&nbsp;|
        <a  href="{:U("Invoice/add2?contract_id=$list[id]&adid=$list[aid]&ht_on=$list[contract_no]")}" data-toggle="tooltip" data-placement="top" title="添加该合同发票"><span class="glyphicon glyphicon-inbox"></span></a>
        <a  href="{:U("RefundMoney/add?id=$list[id]")}">退款</a>
            </div>
        
        </div>
    </volist>
	
</div>

</div>
<br>
<br>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
</html>
